# deps
node_modules/

# builds
.next/
dist/
build/
.expo/
.turbo/

# env
.env
.env.*
!.env.example

# supabase local
supabase/.branches/
supabase/.temp/

# misc
.DS_Store
*.log

# Dart/Flutter
.dart_tool/
.flutter-plugins-dependencies
*.iml
